.right {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

    /* Subnav button */
    .subnav .subnavbtn {
        font-size: 25px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: #00a2e8;
        font-family: inherit;
        margin: 0;
        font-weight: bold;
    }

.titlu {
    text-align: center;
    margin-top: 10px;
}
/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: inherit;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

    td button {
        font-size: 20px;
        padding: 10px;
        background-color: rgb(174, 236, 174);
    }

.plus {
    background-color: #00a2e8;
    padding: 20px;
    margin-top: 30px;
    width: 150px;
    align-self: center;
    border-radius:25px;
}

td button:nth-child(even) {
    background-color: rgb(202, 140, 140);

}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    z-index: 1;
}

.line {
    margin-top: 5px;
    height: 5px;
    background-color: rgb(64, 64, 71);
}
/* Style the subnav links */
.subnav-content a {
    margin-right: 200px;
    padding: 10px;
    float: left;
    color: black;
    text-decoration: none;
    font-size: 27px;
    font-family: 'Poppins';
    background-color: #00a2e8;
    border: 2px rgb(85, 76, 76) solid;
    border-radius: 25px;
}
    /* Add a grey background color on hover */
    .subnav-content a:hover {
        background-color: rgb(31, 117, 230);
        color: rgb(255, 255, 255);
    }

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}
